<div class="container">
  <div class="jumbotron">
    <div class="container">

    </div>
    <h1 class="display-3">f.log</h1>
    <p>A digital flight log for every kind of aviator</p>
    <%= button_to 'Get Started', new_user_path, :method => 'get', :class => "btn btn-primary btn-lg" %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag "glider.jpeg", :alt => "", :class => "card-img-top" %>
          <div class="card-body">
            <h3 class="mb-0">Whatever you fly</h3>
            <p class="card-text mb-auto"><strong>f.log</strong> caters for all sorts of aviators, from the adventurous to the professional. With logbook types ranging from general aviation to skydiving, your logbook will have all the information <em>you</em> need and none of the information you dont.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag "wing.jpg", :alt => "", :class => "card-img-top" %>
          <div class="card-body">
            <h3 class="mb-0">Wherever you are</h3>
            <p class="card-text mb-auto">Never stress about forgetting your logbook again! With <strong>f.log</strong>, you can access your logbook wherever you have an internet connection, and have the peace of mind that your flying history is safely backed up online..</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= image_tag "paraglider", :alt => "", :class => "card-img-top" %>
          <div class="card-body">
            <h3 class="mb-0">What you need to know</h3>
            <p class="card-text mb-auto"><strong>f.log</strong> takes the data from your flights and presents it into easy to read graphs! Get an overview of your flying career and get important analytics about the flying you've done in each of your stored logbooks.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
