<h1>f.log</h1>
<p>A digital flight log for every kind of aviator</p>

<p>
  this is the landing page for logged out users. once a user is logged in, they get redirected to the splash page for their logbooks. There will probably be some stuff here about what the site does with some pretty pictures. Ad copy and shit
</p>
