
<div class="jumbotron">
  <div class="container">

  </div>
  <h1 class="display-3">f.log</h1>
  <p>A digital flight log for every kind of aviator</p>
  <%= button_to 'Get Started', new_user_path, :method => 'get', :class => "btn btn-primary btn-lg" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "http://placekitten.com/300/300", :alt => "", :class => "card-img-top" %>
        <div class="card-body">
          <h3 class="mb-0">Whatever you fly</h3>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "http://placekitten.com/300/300", :alt => "", :class => "card-img-top" %>
        <div class="card-body">
          <h3 class="mb-0">Wherever you are</h3>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <%= image_tag "http://placekitten.com/300/300", :alt => "", :class => "card-img-top" %>
        <div class="card-body">
          <h3 class="mb-0">What you need to know</h3>
          <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>
</div>
